body{
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(110deg, $black, $middle_color, $end_color);
    animation: gradient 15s ease-in-out infinite;
    background-size: 150% 150%;
    color: $white;  
    font-family: 'Permanent Marker', cursive;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

h1, h2, h3, ul, li{
    margin: 0;
    padding: 0;
}

@keyframes gradient{
    0%{
        background-position: 50% 0%;
    }
    50%{
        background-position: 25% 25%;
    }
    100%{
        background-position: 50% 0%;
    }
}