.nav__logo{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;

  a{
    text-decoration: none;
    transition: 1s all;
    color: $white;
    animation: neon 2s ease-in-out infinite alternate;

    &:hover{
      letter-spacing: 0.5px;
      animation: neon 1s ease-in-out infinite alternate;
    }
  }
}

@keyframes neon{
  from {
    text-shadow: 0 0 10px $white, 0 0 20px $white, 0 0 30px $white, 0 0 40px $neon_light, 0 0 70px $neon_light, 0 0 80px $neon_light;
  }
  to {
    text-shadow: 0 0 5px $white, 0 0 10px $white, 0 0 15px $white, 0 0 20px $neon_light, 0 0 35px $neon_light, 0 0 40px $neon_light;
  }
}