.section{
    text-align: center;
    padding: 45px 10% 50px;
    color: $section_color;
    background: linear-gradient(110deg, $start_color, $font_color);
    text-shadow: 0 0 2px $white, 0 0 4px $neon_light, 0 0 6px $neon_light, 0 0 8px $neon_light;

    &__title{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 25px;
        letter-spacing: 5px;
    }

    &__description{
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.2;
    }
}
